
.ng-valid[required], .ng-valid.required, .ng-dirty  {
  border: 0.12em solid #41AD49; /* green */
  background-image: url('/assets/tick.svg');
	background-repeat: no-repeat;
	background-position: right;
	background-repeat: no-repeat;
	background-position: 99.9% 30%; 
	background-size: 10% 100%;
}


.ng-invalid:not(form).ng-dirty {
  border: 0.12em solid #FF0000; /* red */
  background-image: url('/assets/warning.svg');
	background-repeat: no-repeat;
	background-position: 99.9% 30%; 
	background-size: 10% 100%;
}

.ng-pristine {
  border: none;
}

.alert-danger{
	background-color:#FF0000;
	text-align: center;
	margin: auto;
	color:white;
	font-size: 100%;
	vertical-align: middle;
	
	max-width: 80%;
	min-width: 80%;
	padding: 0.5em;
	padding-left:1em;
	padding-right:1em;
	border: none;
	border-radius: 25px;
	
}

textarea:focus, input:focus{
    outline: none;
}


.form-control{
	max-width: 80%;
	min-width: 80%;
	padding: 0.5em;
	padding-left:2em;
	margin: 0.5em;
	border: none;
	border-radius: 25px;
	height:3em;
}

input:invalid {
    box-shadow: none;
}

.btn{
	max-width: 82.5%;
	min-width: 82.5%;
	padding: 0.5em;
	margin:1em;
	border-radius: 25px;
	padding-left:1.5em;
	padding-right:1.5em;
	height:3em;
}


