<div class="container">
	<h1>Login</h1>
	<div>
		<input [ngModel]="user.email" 
			(ngModelChange)="valuechange($event)"
			placeholder="email"
			type="email" 
			class="form-control" 
			id="email"
			name="email"
			#email="ngModel"
			minlength="7" maxlength="254"
			required
			email
			(blur)="validate()"
		>
		<span *ngIf="message == true">
		<div [hidden]="email.valid || email.pristine || email.errors.minlength "
			class="alert alert-danger">
			Email is required
		</div>
		<div [hidden]="isEmail == true || email.pristine"
			class="alert alert-danger">
			Must be an email
		</div>
		<div *ngIf="email?.errors?.minlength" [hidden]="!email.errors.minlength"
			class="alert alert-danger">
			Email cannot be less than 7 characters long.
		</div>
		<div *ngIf="email?.errors?.maxlength" [hidden]="!email.errors.maxlength"
			class="alert alert-danger">
			Email cannot be more than 254 characters long.
		</div>
		<div *ngIf="typo == true" 
			class="alert alert-danger"
			(click)="acceptChange()"
			>
			Did you mean {{suggestion}}? Tap to change.
		</div>
		
		</span>
		<input [(ngModel)]="user.password" 
			placeholder="Password"
			type="password"
			class="form-control" 
			id="password"
			name="password"
			required
			
		>

		<p>{{user.email}}</p>
		
		<button type="submit" class="btn btn-success">Submit</button>

	</div>
	
</div>